/* Give us some more real-estate */
#portal-top,
#viewlet-above-content,
#portal-breadcrumbs,
#portal-footer,
#portal-colophon,
#portal-siteactions {
    display: none;
}

#filemanager {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
}


#filemanager {
	position: relative;
}

#buttons {
	margin-top: 10px;
	padding: 5px 5px 0 5px;
	/*background-color: #E2EAF3;*/
}

#filemanager ul {
	margin-left: 0 !important;
}

#buttons {
	display: block;
	text-align: right;
	height: auto;
	min-height:30px;
	max-height: 80px;
	overflow: hidden;
}

#buttons h1 {
	display: block;
	float: left;
	text-align: left;
	font-size: 0.8em;
}

#uploadresponse {
	display: none;
}

#splitter {
	background-color: white;
	height: 400px;
	border: 1px solid #ccc;
	/* no padding allowed */
}

#filetree {
	overflow: hidden;
	min-width: 100px;	/* optional */
	/* no margin or border allowed */
	padding-left: 10px;
}

#filetree > ul {
	padding: 4px;
}

#splitter .vsplitbar {
	width: 6px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background: #E2EAF3 url(../scripts/jquery.splitter/vgrabber.gif) no-repeat center;
}

#fileeditor * {
	font-size: 12px;
}

#preview > img {
	margin: 25px;
	max-width: 80%;
}

#fileeditor > h1 {
	font-size: 16px;
	margin: 100px auto;
}

#preview dl {
	display: block;
	width: 400px;
	margin: 10px auto;
	overflow: auto;
}

#preview dl dt,
#preview dl dd {
	display: block;
	float: left;
	width: 190px;
	padding: 4px;
	text-align: left;
	border-bottom: 1px dotted #ccc;
	overflow: hidden;
}

#preview dt {
	clear: left;
}

#preview dd {
	font-weight: bold;
}

#toolbar {
	display: block;
	clear: left;
	margin: 50px auto;
}

button:hover{
	cursor:pointer;
}

button span {
	display: block;
	padding-left: 20px;
	background-position: left center;
	background-repeat: no-repeat;
	background-color: transparent;
	height: 16px;
	padding-top: 3px;
	white-space: nowrap;
}

#contents.grid {
	padding: 25px;
	text-align: left;
}

#contents.grid li {
	display: block;
	float: left;
	width: 24%;
	min-height: 128px;
	text-align: center;
	overflow: hidden;
	margin-bottom: 25px;
	border: 1px solid white;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-ms-border-radius: 8px;
}

#contents.grid li:hover {
	border: 1px solid #ccc;
	background-color: #eee;
	cursor: pointer;
}

div.clip {
	width: 64px;
	height: 64px;
	margin: 10px auto;
	overflow: hidden;
}

#contents.grid li img {
}

#contents.grid p {
	display: block;
	text-align: center;
	margin-bottom: 10px;
}

#contents.list {
	width: 100%;
}

#contents.list th,
#contents.list td {
	text-align: left;
	padding: 6px;
	white-space: nowrap;
}

#contents.list thead {
	background-image: url(../images/btnOFF.gif);
	background-repeat: repeat-x;
	border-bottom: 1px solid #ccc;
}

#contents.list th {
	font-weight: bold;
	cursor: pointer;
}

#contents.list th.headerSortUp,
#contents.list th.headerSortDown {
	background-image: url(../images/btnON.gif);
}

#contents.list th.headerSortUp span {
	display: block;
	width: 100%;
	/* No, really */
	background-image: url(../images/bullet_arrow_down.png);
	background-repeat: no-repeat;
	background-position: right center;
}

#contents.list th.headerSortDown span {
	display: block;
	width: 100%;
	/* No, really */
	background-image: url(../images/bullet_arrow_up.png);
	background-repeat: no-repeat;
	background-position: right center;
}

#contents.list td {
	border-bottom: 1px dotted #ccc;
}

#contents.list td:first-child {
	width: 100%;
	padding-left: 22px;
	background-repeat: no-repeat;
	background-position: 3px center;
}

#contents.list tbody tr:hover {
	background-color: #eee;
	cursor: pointer;
}

.meta {
	display: none;
}

#activity {
	margin: 100px auto;
}

.contextMenu {
	background-color: #E2EAF3;
}

.contextMenu li.hover a {
	background-color: #BDF;
}

.contextMenu a {
	font-size: 11px;
}

/* these apply to the contextual menus as well as the buttons */
/*button {outline: none;}*/
#select span, .contextMenu li.select a { background-image: url(../images/accept.png); }
#download span, .contextMenu li.download a { background-image: url(../images/disk.png); }
#rename span, .contextMenu li.rename a { background-image: url(../images/pencil.png); }
#delete span, .contextMenu li.delete a { background-image: url(../images/bin_closed.png); }
#upload span { background-image: url(../images/add.png); }
#upload span.loading { background-image: url(../images/ajax-loader.gif);color:#555555;font-size:0.9em; }
#parentfolder span { background-image: url(../images/parentfolder.png); }
#newfolder span { background-image: url(../images/folder_add.png); }
#save span { background-image: url(../images/pencil.png); }
#addnew span { background-image: url(../images/addnew.png); }

/* div.jqi button { background-image: url(../images/circular/yes.png); } */

div.jqi {
	position: absolute;
	font-size: 12px;
	font-weight: bold;
	min-width: 300px;
	padding: 10px;
	background-color: #E2EAF3;
	border: 2px solid #ccc;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-ms-border-radius: 8px;
	box-shadow: 2px 2px 8px #ccc;
	-moz-box-shadow: 2px 2px 8px #ccc;
	-webkit-box-shadow: 2px 2px 8px #ccc;
	-ms-box-shadow: 2px 2px 8px #ccc;
}

.jqiclose {
	float: right;
	margin: -9px -7px 0 0;
	font-size: 9px;
	cursor: pointer;
	text-transform: lowercase;
	color: #666;
}

div.jqi button {
	margin-top: 20px;
	float: right;
}

.jqifade{
	background-color: white;
}

#grid span,
#list span {
	width: 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

button.ON {
	background-image: url(../images/btnON.gif);
	border: 1px inset #ccc;
}

#grid span { 
	background-image: url(../images/application_view_icons.png);
}

#list span { 
	background-image: url(../images/application_view_list.png);
}

#list {
	margin-left: 0;
}
#progressbar {
	background:transparent url(../images/ajax-loader.gif) no-repeat 0 0;
	display:inline-table;
	width:30px;
	height:30px;
}

#fileeditor {
	min-width: 100px;
	overflow: auto;
	/* no margin or border allowed */
}

#fileeditor ul#fileselector{
	height: 26px;
	background-color: #DDDDDD;
}

#fileeditor ul#fileselector, #fileeditor ul#fileselector li,
#fileeditor ul#aceeditors, #fileeditor ul#aceeditors li{
    list-style: none;
    list-style-type: none;
}

#fileeditor ul#fileselector li{
	cursor: pointer;
	margin: 3px 3px 0 3px;
	padding: 2px 7px;
	float:left;
    background-color: #f1f1f1;
    border: 1px solid black;
    border-bottom: none;
    border-top-left-radius: 5px 5px;
    -moz-border-radius-topleft: 5px 5px;
    border-top-right-radius: 5px 5px;
    -moz-border-radius-topright: 5px 5px;
}

#fileeditor ul#fileselector li.dirty{
	color: #D57A46;
}

#fileeditor ul#fileselector li.selected{
	border: 1px solid #427597;
	border-bottom: none;
	background-color: white;
}

#fileeditor ul#aceeditors li{
	display:none;
}

#fileeditor ul#aceeditors li.selected{
	display: block;
}

#fileeditor ul#fileselector{
    margin:0;
    padding:0;
}

#fileeditor ul#aceeditors{
	border-top: 3px solid #427597;
    width:100%;
    height:95%;
    clear:both;
}

#fileeditor ul#aceeditors li pre {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    position: relative;
    min-width:400px;
}

#buttons {
    background-color: #EEEEEE;
}

#fileRoot{
	padding: 5px;
}
#fileRoot a:visited{
	border:none;
}

#filetree a.selected{
	background-color: #EEEEEE;
}

#aceeditors div.info{
	padding: 10px;
}

#aceeditors div.info img{
	max-width: 400px;
}

#upload-container{
	padding-left:10px;
	border-left: 1px solid #ddd;
	margin-left:5px;
	display:inline;
}

#pb_prompt {
	width: auto;
}

#pb_prompt .pb-ajax{
	padding:10px;
}

#pb_prompt .pb-ajax .documentDescription{
	padding: 0 0 5px 0;
	white-space: nowrap;
	font-weight: normal;
}

#pb_prompt .pb-ajax .input{
	padding: 5px 5px 5px 0;
	min-width: 280px;
}

#pb_prompt .pb-ajax .input input{
	width: 100%;
	padding-left: 0;
}


#pb_prompt .pb-ajax .formControls{
	margin:0;
	padding: 5px 5px 5px 0;
}

UL.jqueryFileTree {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	line-height: 18px;
	padding: 0px;
	margin: 0px;
}

UL.jqueryFileTree LI {
	list-style: none;
	padding: 0px;
	padding-left: 20px;
	margin: 0px;
	white-space: nowrap;
}

UL.jqueryFileTree A {
	color: #333;
	text-decoration: none;
	display: block;
	padding: 0px 2px;
}

UL.jqueryFileTree A:hover, UL.jqueryFileTree A:selected {
	background: #eee;
}

/* Core Styles */
.jqueryFileTree LI.directory {
	background: url(../images/directory.png) left top no-repeat;
}

.jqueryFileTree LI.expanded {
	background: url(../images/folder_open.png) left top no-repeat;
}

.jqueryFileTree LI.file {
	background: url(../images/file.png) left top no-repeat;
}

.jqueryFileTree LI.wait {
	background: url(../images/spinner.gif) left top no-repeat;
}

/* File Extensions*/
.jqueryFileTree LI.ext_3gp {
	background: url(../images/film.png) left top no-repeat;
}

.jqueryFileTree LI.ext_afp {
	background: url(../images/code.png) left top no-repeat;
}

.jqueryFileTree LI.ext_afpa {
	background: url(../images/code.png) left top no-repeat;
}

.jqueryFileTree LI.ext_asp {
	background: url(../images/code.png) left top no-repeat;
}

.jqueryFileTree LI.ext_aspx {
	background: url(../images/code.png) left top no-repeat;
}

.jqueryFileTree LI.ext_avi {
	background: url(../images/film.png) left top no-repeat;
}

.jqueryFileTree LI.ext_bat {
	background: url(../images/application.png) left top no-repeat;
}

.jqueryFileTree LI.ext_bmp {
	background: url(../images/picture.png) left top no-repeat;
}

.jqueryFileTree LI.ext_c {
	background: url(../images/code.png) left top no-repeat;
}

.jqueryFileTree LI.ext_cfm {
	background: url(../images/code.png) left top no-repeat;
}

.jqueryFileTree LI.ext_cgi {
	background: url(../images/code.png) left top no-repeat;
}

.jqueryFileTree LI.ext_com {
	background: url(../images/application.png) left top no-repeat;
}

.jqueryFileTree LI.ext_cpp {
	background: url(../images/code.png) left top no-repeat;
}

.jqueryFileTree LI.ext_css {
	background: url(../images/css.png) left top no-repeat;
}

.jqueryFileTree LI.ext_doc {
	background: url(../images/doc.png) left top no-repeat;
}

.jqueryFileTree LI.ext_exe {
	background: url(../images/application.png) left top no-repeat;
}

.jqueryFileTree LI.ext_gif {
	background: url(../images/picture.png) left top no-repeat;
}

.jqueryFileTree LI.ext_fla {
	background: url(../images/flash.png) left top no-repeat;
}

.jqueryFileTree LI.ext_h {
	background: url(../images/code.png) left top no-repeat;
}

.jqueryFileTree LI.ext_htm {
	background: url(../images/html.png) left top no-repeat;
}

.jqueryFileTree LI.ext_html {
	background: url(../images/html.png) left top no-repeat;
}

.jqueryFileTree LI.ext_jar {
	background: url(../images/java.png) left top no-repeat;
}

.jqueryFileTree LI.ext_jpg {
	background: url(../images/picture.png) left top no-repeat;
}

.jqueryFileTree LI.ext_jpeg {
	background: url(../images/picture.png) left top no-repeat;
}

.jqueryFileTree LI.ext_js {
	background: url(../images/script.png) left top no-repeat;
}

.jqueryFileTree LI.ext_lasso {
	background: url(../images/code.png) left top no-repeat;
}

.jqueryFileTree LI.ext_log {
	background: url(../images/txt.png) left top no-repeat;
}

.jqueryFileTree LI.ext_m4p {
	background: url(../images/music.png) left top no-repeat;
}

.jqueryFileTree LI.ext_mov {
	background: url(../images/film.png) left top no-repeat;
}

.jqueryFileTree LI.ext_mp3 {
	background: url(../images/music.png) left top no-repeat;
}

.jqueryFileTree LI.ext_mp4 {
	background: url(../images/film.png) left top no-repeat;
}

.jqueryFileTree LI.ext_mpg {
	background: url(../images/film.png) left top no-repeat;
}

.jqueryFileTree LI.ext_mpeg {
	background: url(../images/film.png) left top no-repeat;
}

.jqueryFileTree LI.ext_ogg {
	background: url(../images/music.png) left top no-repeat;
}

.jqueryFileTree LI.ext_pcx {
	background: url(../images/picture.png) left top no-repeat;
}

.jqueryFileTree LI.ext_pdf {
	background: url(../images/pdf.png) left top no-repeat;
}

.jqueryFileTree LI.ext_php {
	background: url(../images/php.png) left top no-repeat;
}

.jqueryFileTree LI.ext_png {
	background: url(../images/picture.png) left top no-repeat;
}

.jqueryFileTree LI.ext_ppt {
	background: url(../images/ppt.png) left top no-repeat;
}

.jqueryFileTree LI.ext_psd {
	background: url(../images/psd.png) left top no-repeat;
}

.jqueryFileTree LI.ext_pl {
	background: url(../images/script.png) left top no-repeat;
}

.jqueryFileTree LI.ext_py {
	background: url(../images/script.png) left top no-repeat;
}

.jqueryFileTree LI.ext_rb {
	background: url(../images/ruby.png) left top no-repeat;
}

.jqueryFileTree LI.ext_rbx {
	background: url(../images/ruby.png) left top no-repeat;
}

.jqueryFileTree LI.ext_rhtml {
	background: url(../images/ruby.png) left top no-repeat;
}

.jqueryFileTree LI.ext_rpm {
	background: url(../images/linux.png) left top no-repeat;
}

.jqueryFileTree LI.ext_ruby {
	background: url(../images/ruby.png) left top no-repeat;
}

.jqueryFileTree LI.ext_sql {
	background: url(../images/db.png) left top no-repeat;
}

.jqueryFileTree LI.ext_swf {
	background: url(../images/flash.png) left top no-repeat;
}

.jqueryFileTree LI.ext_tif {
	background: url(../images/picture.png) left top no-repeat;
}

.jqueryFileTree LI.ext_tiff {
	background: url(../images/picture.png) left top no-repeat;
}

.jqueryFileTree LI.ext_txt {
	background: url(../images/txt.png) left top no-repeat;
}

.jqueryFileTree LI.ext_vb {
	background: url(../images/code.png) left top no-repeat;
}

.jqueryFileTree LI.ext_wav {
	background: url(../images/music.png) left top no-repeat;
}

.jqueryFileTree LI.ext_wmv {
	background: url(../images/film.png) left top no-repeat;
}

.jqueryFileTree LI.ext_xls {
	background: url(../images/xls.png) left top no-repeat;
}

.jqueryFileTree LI.ext_xml {
	background: url(../images/code.png) left top no-repeat;
}

.jqueryFileTree LI.ext_zip {
	background: url(../images/zip.png) left top no-repeat;
}