[versions]
# diazo KGS
WebOb = 1.0.7
diazo = 1.0rc2
experimental.cssselect = 0.1
lxml = 2.3
repoze.xmliter = 0.3

# plone.app.theming KGS, extends diazo KGS
plone.app.theming = 1.0b6
plone.recipe.zope2instance = 4.1.7
plone.resource = 1.0b5
plone.subrequest = 1.6
plone.transformchain = 1.0
