[versions]
# diazo KGS
WebOb = 1.0.8
diazo = 1.0rc3
experimental.cssselect = 0.1
lxml = 2.3
repoze.xmliter = 0.4

# plone.app.theming KGS, extends diazo KGS
plone.app.theming = 1.0b8
plone.app.themingplugins = 1.0b1
plone.resource = 1.0b5
plone.subrequest = 1.6.1
