/* Give us some more real-estate */
#portal-top,
#viewlet-above-content,
#portal-breadcrumbs,
#portal-footer,
#portal-colophon,
#portal-siteactions {
    display: none;
}

#mapper-toolbar {
    margin-bottom: 1em;
}

#content #editor,
#content .source-editor {
    margin: 0;
    padding: 0;
    border: none;
    background: none;

    border: solid #eee 1px;

    width: 100%;
    height: 300px;
    position: relative;
}

#splitview iframe,
#preview iframe,
#content .source-editor {
    width: 100%;
    height: 300px;
    border: dashed #333 1px;
    position: relative;
}

#splitview {
    margin: 20px 0;
}

.panel-toolbar {
    float: right;
}

.panel-toolbar label {
    font-weight: normal;
}

#file-selector,
.save-button {
    margin-right: 5px;
    vertical-align: middle !important;
}

/* Wizard */

 .wizard-text {
     display: none;
     background-color: #FFFFE3;
     padding: 0 5px;
 }

#new-rule-type-panel {
    white-space: nowrap;
}

#new-rule-type-panel label,
#new-rule-selector-panel label {
    font-weight: normal;
    padding-left: 0.5em;
}

#new-rule-output-panel {
    clear: both;
    padding: 1em 0;
}

#new-rule-output-panel textarea {
    height: 6em;
    width: 50em;
}

.new-rule-actions {
    clear: both;
    margin-top: 1em;
}

/* Preview */
.source-editor {
    display: none;
}