body {
    font-family: Roboto, sans-serif;
}

body a {
    color: #888
}

fieldset {
    color: #333;
}

fieldset .field {
    margin-top: 20px;
}

fieldset label {
    font-weight: bold;
    text-decoration: underline;
}

#content-core {
    margin-top: 10px;
}

#themesList {
    background-color: #eee;
    padding: 10px;
}

#themesList h3 {
    margin-bottom: 10px;
}

a.plone-btn {
    text-decoration: none;
}

.themeEntry {
    display: inline-block;
    overflow: hidden;
    height: 275px;
    width: 400px;
    margin: 5px;
    padding: 0 6px 0 9px;
    text-align: center;
    border: solid #eee 1px;
    background-color: white;
    vertical-align: top;
}

.activeThemeEntry {
    background-color: #ffffe3;
}

.themeEntry img {
    border: 1px solid #ccc;
    display: block;
    margin: 0 auto;
}
.themeEntryWrapper {
    height: 230px;
    margin: 0 auto 7px;
}

.themeEntryDetail {
    display: block;
    text-decoration: none;
    font-size: 90%;
    height: 259px;
    width: 230px;
    margin: 16px auto 0;
}

.themeEntry .previewImageContainer {
    height: 130px;
}

.themeEntry .previewImageContainer > img {
    max-height: 125px;
    max-width: 230px;
    border: solid 1px #eee;
    margin-bottom: 5px;
}

.themeEntryTitle {
    font-size: 20px;
}

.themeDescription {
    color: #76797c;
}

.themeEntry .themeEntryControls {
    clear: both;
    margin: 10px;
}

.themeEntry input, .themeEntry form {
    display: inline;
}

.radioLabel {
    font-weight: normal;
}

.warning {
    color: red;
    display: block;
    font-size: smaller;
}

.plone-btn-group {
    margin: 10px;
}
